.chatMessage {
  padding: 0.8rem 0.5rem;
  border-radius: 0.5rem;
  background: #3a405a;
  color: white;
}

.chatMessageHeader {
  color: #e0e0e0;
  font-style: italic;
  margin-bottom: 0.2rem;

  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.chatMessageText {
  font-size: 1.1rem;
}
